<phpunit bootstrap="./test/bootstrap.php" colors="true">
    <listeners>
        <listener class="VCR\PHPUnit\TestListener\VCRTestListener" file="vendor/php-vcr/phpunit-testlistener-vcr/src/VCRTestListener.php" />
    </listeners>
    <testsuites>
        <testsuite name="Integration">
            <directory>./test/WheaterServiceTest/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
